.customer_card_container {
    background-color: var(--lowOp_blue);
    border-radius: 1em;
    margin-right: 1em;
    max-height: 20em;
}

.sort_customers {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.customer_card_container h3 {
    margin-bottom: 0.5em;
}

.sort_customers button {
    color: var(--powder-blue);
    background-color: var(--amaranth-purple);
    height: 2.25em;
    margin-top: 0.5em;
    position: absolute;
    right: 0.5em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort_customers button:hover {
    outline: 3px solid var(--powder-blue);
}

.card-scroll {
    overflow-y: auto;
    max-height: 15em;
    margin-right: 0.3em;
    border-radius: 1em;
    padding-left: 1.5em;
}

.card-scroll::-webkit-scrollbar {
    width: 0.5em;
    margin-left: 0.5em;
}

.card-scroll::-webkit-scrollbar-thumb {
    border-radius: 0.7em;
    background-color: var(--lowOp_blue);
}

.card-scroll::-webkit-scrollbar-track {
    margin-left: 0.5em;
}