.subscription_card_container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--powder-blue);
    color: var(--black);
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
}

.subscription_card_container:hover {
    cursor: pointer;
    -webkit-box-shadow:0px 0px 159px 12px rgba(179,178,153,0.62);
    -moz-box-shadow: 0px 0px 159px 12px rgba(179,178,153,0.62);
    box-shadow: 0px 0px 159px 12px rgba(179,178,153,0.62);
}
