.subscriptions_container {
    width: 60%;
    color: var(--powder-blue);
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscriptions_container button {
    color: var(--powder-blue);
    background-color: var(--amaranth-purple);
    position: absolute;
    right: 8em;
    top: 12em;
}

.sort:hover {
    outline: 2px solid var(--powder-blue);
}

.subscriptions_container h2 {
    text-decoration: underline;
    position: absolute;
    left: 1.5em;
    top: 75%;
    transform: rotate(-90deg) translate(-50%, -100%);
    transform-origin: left top;
    font-size: 3rem;
    white-space: nowrap;
    color: var(--powder-blue);
}