*{
  /* Color Palette */
  --black: #020701ff;
  --sage: #B3B299ff;
  --dark-green: #213B33ff;
  --powder-blue: #A8B0C5ff;
  --amaranth-purple: #A92E4Dff;
  --lowOp_black: rgba(2, 7, 0, 0.6);

  /* Fonts */
  --abril: "Abril Fatface", serif;
  --nunito: "Nunito", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-image: url('/ahtziri-lagarde-teS6J7wO6Og-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  overflow: auto;
  font-family: var(--nunito);
}

main {
  color: var(--black);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--lowOp_black);
}

.content {
  z-index: 6;
  width: fit-content;
}
